<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="//evius-industri-public.s3-ap-southeast-1.amazonaws.com/paras-rounded.png"
    type="image/x-icon">
  <title>{{ name }}</title>
  <meta name="description" content={{ description }}>
  <link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">


</head>

<body>
  <div class="header-wrapper">
    <div class="header-content">
      WELCOME TO MY PROFILE
      <div class="header-button">
        SHOW MORE
        <a href="#scroll-about-me"></a>
      </div>
    </div>
    <div class="circle-1"></div>
    <div class="scale square-1"></div>
    <div class="scale circle-2"></div>
    <div class="scale square-2"></div>
    <div class="scale square-3"></div>
  </div>
  <div class="wrapper">
    <div id="scroll-about-me" class="about-wrapper page-wrapper">
      <div class="page-title">
        <div class="page-title-circle"></div>
        <div class="page-title-text">ABOUT ME</div>
      </div>
      <div class="about ">
        <div class="about-image-wrapper">
          <div style="background: url('{{avatarUrl}}');" class="about-image"></div>
          <div class="about-image-square"></div>
        </div>
        <div class="about-text inner-page">
          <div class="about-name">
            {{ name }}
          </div>
          <div class="about-bio">
            {{description}}
          </div>
          <div class="social">
            {{#each accountList}}
            <a href="https://{{service}}.com/{{identifier}}" target="_blank">
              <i class="icofont-{{service}}"></i>
            </a>
            {{/each}}
          </div>
        </div>
      </div>

    </div>

  </div>
</body>
<style>
  html {
    background: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0
  }

  body {
    padding: 0;
    position: relative;
    margin: 0
  }

  .wrapper {
    margin: 0 auto;
    max-width: 600px
  }

  * {
    box-sizing: border-box;
    text-shadow: transparent 0 0 0, rgba(0, 0, 0, .68) 0 0 0
  }

  a {
    text-decoration: none;
    color: #333
  }

  .header-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #433a8b
  }

  .header-content {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 1px;
    color: #282846;
    position: relative;
    z-index: 1;
    color: #fff;
    width: 77%
  }

  .header-button {
    font-size: 1.2rem;
    width: 14rem;
    padding: 1rem 2rem;
    background: #fff;
    font-weight: 600;
    color: #433a8b;
    border-radius: 21px;
    margin: 0 auto;
    margin-top: 3rem;
    box-shadow: 2px 5px 25px 1px rgba(255, 255, 255, .3);
    cursor: pointer;
    position: relative
  }

  .header-button a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0
  }

  .circle-1 {
    width: 10rem;
    height: 10rem;
    background: 0 0;
    position: absolute;
    border: 2rem solid #9bc1f2;
    border-radius: 50%;
    top: -7%;
    right: 0
  }

  .square-1 {
    width: 8rem;
    height: 8rem;
    background: 0 0;
    position: absolute;
    border: 1rem solid #d4ecf3;
    left: 61%;
    transform: rotate(30deg);
    bottom: -4%
  }

  .square-2 {
    width: 25rem;
    height: 30rem;
    background: 0 0;
    position: absolute;
    border: 2rem solid #ee749b;
    left: -5%
  }

  .circle-2 {
    width: 10rem;
    height: 10rem;
    background: 0 0;
    position: absolute;
    border: 2rem solid #3b74cd;
    border-radius: 50%;
    bottom: -7%;
    left: -3rem
  }

  .square-3 {
    width: 5rem;
    height: 5rem;
    background: 0 0;
    position: absolute;
    left: -1%;
    background: #16ffbd;
    top: 1%;
    transform: rotate(-53deg)
  }

  .page-wrapper {
    margin: 0 2rem;
    padding-top: 12.5rem
  }

  .page-title {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    color: rgba(20, 20, 50, 1);
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 10rem
  }

  .page-title-text {
    position: relative;
    z-index: 3
  }

  .page-title-circle {
    width: 11rem;
    height: 11rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background: #e5f3f8;
    border-radius: 50%
  }

  .about-image-wrapper {
    min-width: 24rem;
    max-width: 35rem;
    width: 50vw;
    min-height: 29rem;
    height: 40vh;
    max-height: 40rem;
    margin-bottom: 10rem;
    position: relative
  }

  .inner-page {
    padding: 0 2rem
  }

  .about-image {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    z-index: 1;
    box-shadow: 3px 4px 16px rgba(40, 40, 60, .2)
  }

  .about-image-square {
    background: 0 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 10%;
    top: 10%;
    border: 1.4rem solid #16ffbd
  }

  .about-name {
    text-align: left;
    font-size: 2.6rem;
    font-weight: 700;
    color: rgba(20, 20, 50, 1);
    letter-spacing: -.75px
  }

  .about-bio {
    text-align: left;
    font-size: 1.5rem;
    color: rgba(156, 156, 176, .64);
    letter-spacing: -.5px;
    font-weight: 500;
    margin-top: 2rem
  }

  .social {
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
    padding-bottom: 36px;
  }

  .social a {
    margin-left: 1rem;
    width: 4rem;
    border-radius: 50%;
    height: 4rem;
    background: #433a8b;
    display: flex;
    box-shadow: 3px 2px 3px rgba(67, 58, 139, .29);
    align-items: center;
    justify-content: center
  }

  .social a>i {
    font-size: 2rem;
    color: #fff
  }

  .page-title-square {
    width: 11rem;
    height: 11rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background: #fdedf2
  }

  .circle {
    width: 8px;
    height: 100%;
    margin-bottom: 1.5rem;
    position: absolute;
    left: 0;
    top: 0
  }

  @media screen and (min-width:768px) {
    html {
      font-size: 12px
    }

    .scale {
      transform: scale(1.2)
    }

    .header-content {
      font-size: 5.7rem
    }
  }
</style>

</html>