<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700,700i" rel="stylesheet">

  <link rel="shortcut icon" href="//evius-industri-public.s3-ap-southeast-1.amazonaws.com/paras-rounded.png"
    type="image/x-icon">
  <title>{{ name }}</title>
  <meta name="description" content={{ description }}>
  <link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css">
</head>

<body>
  <div class="main-page" id="panel1">
    <div class="wrapper">
      <div class="about">
        <div class="about-header">
          <div class="about-header-image"></div>
          <div class="about-header-image-skew">
            <div></div>
            <div></div>
          </div>
          <div class="about-header-text">
            MY PROFILE
          </div>
        </div>
        <div class="about-image">
          <img src="{{avatarUrl}}">
        </div>
      </div>
      <div class="about-text inner-wrapper">
        <div class="about-text-intro">
          <div>{{ name }}</div>
          <div>
            {{description}}
          </div>
          <div class="social">
            {{#each accountList}}
            <span>
              <a href="https://{{service}}.com/{{identifier}}" target="_blank">
                <i class="icofont-{{service}}"></i>
              </a>
            </span>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="bar"></div>
    </div>
  </div>
</body>
<style>
  html {
    background: #f5f5f5;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0
  }

  body {
    margin: 0 auto;
    padding: 0;
    position: relative;
    max-width: 504px
  }

  * {
    box-sizing: border-box;
    text-shadow: transparent 0 0 0, rgba(0, 0, 0, .68) 0 0 0
  }

  a {
    text-decoration: none;
    color: #333
  }

  .wrapper {
    max-width: 504px;
    margin: 0 auto;
    margin: 10px;
    background: rgba(252, 252, 252, 1);
    box-shadow: 0 7px 18px -5px rgba(20, 20, 40, .3)
  }

  .about-header {
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden
  }

  .about-header-image {
    background: url(https://evius-industri-public.s3-ap-southeast-1.amazonaws.com/background.jpeg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 5px
  }

  .about-header-image-skew {
    height: 20%;
    background: 0 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0
  }

  .about-header-image-skew>div:first-child {
    background: #fff;
    width: 100%;
    height: 100vh;
    background: rgba(252, 252, 252, 1);
    transform: skewY(15deg);
    position: absolute;
    left: 0;
    bottom: -100vh
  }

  .about-header-image-skew>div:last-child {
    width: 100%;
    height: 100vh;
    background: rgba(252, 252, 252, 1);
    transform: skewY(-15deg);
    position: absolute;
    left: 0;
    bottom: -100vh
  }

  .about {
    position: relative;
    padding: 10px
  }

  .about-image {
    background: #fff;
    border-radius: 50%;
    width: 13rem;
    height: 13rem;
    border: 5px solid #fff;
    box-shadow: 0 5px 11px -5px rgba(0, 0, 0, .3);
    position: absolute;
    bottom: -10rem;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 3;
  }

  .about-header-text {
    position: absolute;
    z-index: 2;
    color: #fff;
    top: 5rem;
    font-size: 4rem;
    left: 50%;
    font-weight: 700;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  .about-image img {
    width: 100%;
    border-radius: 50%
  }

  .inner-wrapper {
    padding: 2.4rem
  }

  .about-text {
    padding-top: 7rem
  }

  .social {
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem
  }

  .social a {
    margin-left: 1.5rem;
    width: 4rem;
    border-radius: 50%;
    height: 4rem;
    background: #fff;
    display: flex;
    box-shadow: 3px 2px 3px rgba(40, 40, 60, .1);
    align-items: center;
    justify-content: center
  }

  .social a>i {
    font-size: 2.4rem;
    color: #333
  }

  .about-text-intro>div:first-child {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    color: #333
  }

  .about-text-intro>div:nth-child(2) {
    font-family: 'Libre Baskerville', serif;
    color: #444;
    line-height: 3.6rem;
    font-size: 1.9rem;
    letter-spacing: -1px;
    margin-top: 2rem
  }

  .bar {
    width: 10rem;
    height: .4rem;
    background: #000;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 4rem 0
  }

  .main-page {
    transform: translate3d(0, 3rem, 0);
    opacity: 1;
    transition: transform 1s ease .05s, opacity .5s ease .05s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0
  }

  .wrapper {
    padding-bottom: 16px
  }
</style>

</html>