<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,800&display=swap" rel="stylesheet">
  <title>{{ name }}</title>
	<meta name="description" content="{{ description }}">
  <meta property="og:title" content="{{ name }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{avatarUrl}}">
  <link rel="shortcut icon" href="//evius-industri-public.s3-ap-southeast-1.amazonaws.com/paras-rounded.png" type="image/x-icon">
	<link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css">

</head>
<body>
    <div class="flex-center content ">
      <div class="image-wrapper flex-center content-wrapper">
       <div class="image" style="background-image: url('{{avatarUrl}}')" >
        </div>
      </div>
      <div class="content-wrapper p-sm-7 p-md-4 p-3 mt-3">
        <div class="mw-2">
          <div class="fw-700 name-wrapper">
            <h3 class="h2-sm h1-md name">
              {{name}}
            </h3>
            <span class="name-background">
              {{name}}
            </span>
          </div>

          <h4 class="name"></h4>
          <p>{{{description}}}</p>
          <div class="row social-wrapper flex-items">
            {{#each accountList}}
              <a  href="https://{{service}}.com/{{identifier}}" target="_blank" class="social">
                <i class="icofont-{{service}}"></i>
              </a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

</body>
  <style>
    .social {
      font-size: 22px;
      color: black;
    }
    .link,a{text-decoration:none}body,html{overflow-x:hidden;font-family:"Nunito Sans",sans-serif;font-size:16px;background-color:#fff;word-spacing:1px;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;box-sizing:border-box;}*,:after,:before{box-sizing:border-box;margin:0;text-shadow:transparent 0 0 0,rgba(0,0,0,.68) 0 0 0}.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}.w-25{width:25%!important}.w-50{width:50%!important}.w-75{width:75%!important}.w-100{width:100%!important}.w-auto{width:auto!important}.h-25{height:25%!important}.h-50{height:50%!important}.h-75{height:75%!important}.h-100{height:100%!important}.h-auto{height:auto!important}.flex-row{-ms-flex-direction:row!important;flex-direction:row!important}@media (min-width:576px){.flex-sm-row{-ms-flex-direction:row!important;flex-direction:row!important}}@media (min-width:768px){.flex-md-row{-ms-flex-direction:row!important;flex-direction:row!important}}.d-flex{display:-ms-flexbox!important;display:flex!important}@media (min-width:576px){.d-sm-flex{display:-ms-flexbox!important;display:flex!important}}@media (min-width:768px){.d-md-flex{display:-ms-flexbox!important;display:flex!important}}.p-0{padding:0!important}.px-0{padding-right:0!important}.px-0{padding-left:0!important}.p-1{padding:.25rem!important}.px-1{padding-right:.25rem!important}.px-1{padding-left:.25rem!important}.p-2{padding:.5rem!important}.px-2{padding-right:.5rem!important}.px-2{padding-left:.5rem!important}.p-3{padding:1rem!important}.px-3{padding-right:1rem!important}.px-3{padding-left:1rem!important}.p-4{padding:1.5rem!important}.px-4{padding-right:1.5rem!important}.px-4{padding-left:1.5rem!important}.p-5{padding:2rem!important}.px-5{padding-right:2rem!important}.px-5{padding-left:2rem!important}.p-6{padding:2.5rem!important}.px-6{padding-right:2.5rem!important}.px-6{padding-left:2.5rem!important}.p-7{padding:3rem!important}.px-7{padding-right:3rem!important}.px-7{padding-left:3rem!important}@media (min-width:576px){.p-sm-0{padding:0!important}.px-sm-0{padding-right:0!important}.px-sm-0{padding-left:0!important}.p-sm-1{padding:.25rem!important}.px-sm-1{padding-right:.25rem!important}.px-sm-1{padding-left:.25rem!important}.p-sm-2{padding:.5rem!important}.px-sm-2{padding-right:.5rem!important}.px-sm-2{padding-left:.5rem!important}.p-sm-3{padding:1rem!important}.px-sm-3{padding-right:1rem!important}.px-sm-3{padding-left:1rem!important}.p-sm-4{padding:1.5rem!important}.px-sm-4{padding-right:1.5rem!important}.px-sm-4{padding-left:1.5rem!important}.p-sm-5{padding:2rem!important}.px-sm-5{padding-right:2rem!important}.px-sm-5{padding-left:2rem!important}.p-sm-6{padding:2.5rem!important}.px-sm-6{padding-right:2.5rem!important}.px-sm-6{padding-left:2.5rem!important}.p-sm-7{padding:3rem!important}.px-sm-7{padding-right:3rem!important}.px-sm-7{padding-left:3rem!important}}@media (min-width:768px){.p-md-0{padding:0!important}.px-md-0{padding-right:0!important}.px-md-0{padding-left:0!important}.p-md-1{padding:.25rem!important}.px-md-1{padding-right:.25rem!important}.px-md-1{padding-left:.25rem!important}.p-md-2{padding:.5rem!important}.px-md-2{padding-right:.5rem!important}.px-md-2{padding-left:.5rem!important}.p-md-3{padding:1rem!important}.px-md-3{padding-right:1rem!important}.px-md-3{padding-left:1rem!important}.p-md-4{padding:1.5rem!important}.px-md-4{padding-right:1.5rem!important}.px-md-4{padding-left:1.5rem!important}.p-md-5{padding:2rem!important}.px-md-5{padding-right:2rem!important}.px-md-5{padding-left:2rem!important}.p-md-6{padding:2.5rem!important}.px-md-6{padding-right:2.5rem!important}.px-md-6{padding-left:2.5rem!important}.p-md-7{padding:3rem!important}.px-md-7{padding-right:3rem!important}.px-md-7{padding-left:3rem!important}}.m-auto{margin:auto!important}.m-0{margin:0!important}.mt-0{margin-top:0!important}.m-1{margin:.25rem!important}.mt-1{margin-top:.25rem!important}.m-2{margin:.5rem!important}.mt-2{margin-top:.5rem!important}.m-3{margin:1rem!important}.mt-3{margin-top:1rem!important}.m-4{margin:1.5rem!important}.mt-4{margin-top:1.5rem!important}.m-5{margin:2rem!important}.mt-5{margin-top:2rem!important}.m-6{margin:2.5rem!important}.mt-6{margin-top:2.5rem!important}.m-7{margin:3rem!important}.mt-7{margin-top:3rem!important}@media (min-width:576px){.m-sm-auto{margin:auto!important}.m-sm-0{margin:0!important}.mt-sm-0{margin-top:0!important}.m-sm-1{margin:.25rem!important}.mt-sm-1{margin-top:.25rem!important}.m-sm-2{margin:.5rem!important}.mt-sm-2{margin-top:.5rem!important}.m-sm-3{margin:1rem!important}.mt-sm-3{margin-top:1rem!important}.m-sm-4{margin:1.5rem!important}.mt-sm-4{margin-top:1.5rem!important}.m-sm-5{margin:2rem!important}.mt-sm-5{margin-top:2rem!important}.m-sm-6{margin:2.5rem!important}.mt-sm-6{margin-top:2.5rem!important}.m-sm-7{margin:3rem!important}.mt-sm-7{margin-top:3rem!important}}@media (min-width:768px){.m-md-auto{margin:auto!important}.m-md-0{margin:0!important}.mt-md-0{margin-top:0!important}.m-md-1{margin:.25rem!important}.mt-md-1{margin-top:.25rem!important}.m-md-2{margin:.5rem!important}.mt-md-2{margin-top:.5rem!important}.m-md-3{margin:1rem!important}.mt-md-3{margin-top:1rem!important}.m-md-4{margin:1.5rem!important}.mt-md-4{margin-top:1.5rem!important}.m-md-5{margin:2rem!important}.mt-md-5{margin-top:2rem!important}.m-md-6{margin:2.5rem!important}.mt-md-6{margin-top:2.5rem!important}.m-md-7{margin:3rem!important}.mt-md-7{margin-top:3rem!important}}.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{color:#0a0a0a;margin-top:0;margin-bottom:.5rem;font-weight:400;line-height:1.25}p{margin-top:0;margin-bottom:12px;line-height:1.75;color:#15191e}.h1,h1{font-size:56px}.h2,h2{font-size:42px}.h3,h3{font-size:32px}.h4,h4{font-size:20px}.h5,h5{font-size:16px}.h6,h6{font-size:12px}@media (min-width:576px){.h1-sm{font-size:56px}.h2-sm{font-size:42px}.h3-sm{font-size:32px}.h4-sm{font-size:20px}.h5-sm{font-size:16px}.h6-sm{font-size:12px}}@media (min-width:768px){.h1-md{font-size:56px}.h2-md{font-size:42px}.h3-md{font-size:32px}.h4-md{font-size:20px}.h5-md{font-size:16px}.h6-md{font-size:12px}}.fw-300{font-weight:300}.fw-400{font-weight:400}.fw-500{font-weight:500}.fw-600{font-weight:600}.fw-700{font-weight:700}.fw-800{font-weight:800}.fw-900{font-weight:800}a:active{color:initial!important}@keyframes kf_shake{0%{transform:translate(10px)}20%{transform:translate(-10px)}40%{transform:translate(5px)}60%{transform:translate(-5px)}80%{transform:translate(2px)}100%{transform:translate(0)}}.flex-items{display:flex;align-items:center}.flex-center{display:flex;align-items:center;justify-content:center}.mw-1{max-width:320px}.mw-2{max-width:540px}.mw-3{max-width:720px}.mw-4{max-width:960px}.mw-5{max-width:1140px}::placeholder{line-height:1.5;opacity:.75}@media only screen and (min-width:576px){.content p{font-size:16px}}@media only screen and (min-width:768px){.content p{font-size:18px}}.image-wrapper{width:100vw;height:60vh}@media only screen and (min-width:768px){.image-wrapper{height:100vh}}.initial{color:#fff;font-weight:800;font-size:36px;top:12px;left:12px;z-index:3;position:absolute}.image{background-size:cover;background-position:center center;width:100%;height:100%;margin-right:0;box-shadow:0 8px 20px rgba(0,0,0,.1),0 4px 10px rgba(0,0,0,.2);position:relative;z-index:2}@media only screen and (min-width:768px){.image{margin-right:24px}}.content{flex-direction:column}@media only screen and (min-width:768px){.content{flex-direction:row}}.content-wrapper{width:100%}@media only screen and (min-width:768px){.content-wrapper{width:100%}}.name-wrapper{position:relative;margin-bottom:36px}.name{font-weight:700;position:relative;z-index:2;color:#333}.name-background{font-size:64px;position:absolute;top:50%;left:0;transform:translateY(-50%);color:#000;opacity:.1;z-index:1;white-space:nowrap}@media only screen and (min-width:576px){.name-background{font-size:64px}}@media only screen and (min-width:768px){.name-background{font-size:96px}}.social-wrapper{margin-left:0;margin-top:24px}@media only screen and (min-width:768px){.social-wrapper{position:absolute;bottom:0;left:50%;transform:translateX(calc(-50% + 135px))}}.social-wrapper .social{border:1px solid rgba(0,0,0,.3);border-right:none;width:60px;height:50px;display:flex;align-items:center;justify-content:center}.social-wrapper .social:last-child{border:1px solid rgba(0,0,0,.3)}.social-wrapper .social svg{width:20px;height:20px}.social-wrapper .social svg path{fill:1px solid rgba(0,0,0,.7)}
  </style>
</html>