<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="//evius-industri-public.s3-ap-southeast-1.amazonaws.com/paras-rounded.png"
    type="image/x-icon">
  <title>"{{ name }}"</title>
	<meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css">
  <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600" rel="stylesheet">

</head>

<body>
  <div class="header">
    <div class="headerText">
      <div class="headerText1">Welcome to My <br> Profile</div>
      {{!-- <div class="headerText2">Sometimes good things happen when you meet strangers</div> --}}
    </div>
    <div class="header-button">
      About me
      <a href="#scroll-about-me"></a>
    </div>
    <div class="black"></div>
  </div>
  <div class="mainPage">
    <div class="wrapper">
      <div id="scroll-about-me" class="pageWrapper">
        <div class="flower1">
          <img src="https://evius-industri-public.s3-ap-southeast-1.amazonaws.com/flower3.jpg">
        </div>
        <div class="pageAbout shadow1 " style="">
          <div class="page-title">
            About Me
          </div>
          <div class="about ">
            <div class="about-image-wrapper" style="">
              <img src="{{avatarUrl}}" style="width: 100%">
            </div>
            <div class="about-text  ">
              <div class="about-name">
                {{name}}
              </div>
              <div class="about-bio">
                {{description}}
              </div>
              <div class="social">
                {{#each accountList}}
                <span>
                  <a href="https://{{service}}.com/{{identifier}}" target="_blank">
                    <i class="icofont-{{service}}"></i>
                  </a>
                </span>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
<style>
  html {
    background: #fafafa;
    font-size: 10px;
    margin: 0;
    font-family: Nunito, sans-serif;
    padding: 0
  }

  body {
    padding: 0;
    position: relative;
    margin: 0
  }

  .mainPage {
    background: #fafafa;
    position: relative;
    z-index: 3
  }

  .wrapper {
    margin: 0 auto;
    max-width: 768px;
    position: relative
  }

  .pageWrapper {
    margin: 0 2rem;
    padding-top: 12.5rem
  }

  * {
    box-sizing: border-box;
    text-shadow: transparent 0 0 0, rgba(0, 0, 0, .68) 0 0 0
  }

  a {
    text-decoration: none;
    color: #333
  }

  .header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    flex-direction: column;
    overflow: hidden
  }

  .header:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(https://evius-industri-public.s3-ap-southeast-1.amazonaws.com/background2.jpeg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
  }

  .headerText1 {
    color: #f5f5f5;
    font-size: 10rem;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    line-height: 6rem;
    font-size: calc(50px + (90 - 50) * (100vw - 400px)/ (1300 - 320));
    letter-spacing: -6px;
    text-shadow: rgba(0, 0, 0, 1) 0 3px 31px
  }

  .headerText {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: 60%;
    text-align: center;
    margin: 0 auto
  }

  .headerText2 {
    font-family: Nunito, sans-serif;
    color: #fff;
    font-size: 1.8rem;
    margin-top: 3rem;
    letter-spacing: -1px
  }

  .header-button a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }

  .header-button {
    font-size: 1.3rem;
    width: 15rem;
    padding: 1rem 2rem;
    background: #fff;
    font-weight: 900;
    border-radius: 21px;
    margin: 0 auto;
    color: #f5f5f5;
    margin-top: 4rem;
    box-shadow: 2px 5px 51px -6px #e49db2;
    cursor: pointer;
    position: relative;
    z-index: 3;
    font-family: 'Nunito sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    background-image: -ms-linear-gradient(to left, #e49db2 18%, #b398a9 100%);
    background-image: -moz-linear-gradient(to left, #e49db2 18%, #b398a9 100%);
    background-image: -o-linear-gradient(to left, #e49db2 18%, #b398a9 100%);
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #f6c0d0), color-stop(100, #d0a5c0));
    background-image: -webkit-linear-gradient(to left, #e49db2 18%, #b398a9 100%);
    background-image: linear-gradient(to left, #e49db2 18%, #b398a9 100%)
  }

  .black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: 1
  }

  .pageAbout {
    max-width: 490px;
    width: 100%;
    background: #fff;
    padding: 3rem 2rem;
    margin: 0 0 0 auto;
    position: relative;
    top: -10rem;
    left: 5vw
  }

  .shadow1 {
    box-shadow: 3px 2px 2px -5px rgba(40, 40, 40, .2), 3px 4px 4px -5px rgba(40, 40, 40, .2), 3px 8px 8px -5px rgba(40, 40, 40, .2), 3px 16px 16px -5px rgba(40, 40, 40, .2), 3px 32px 32px -5px rgba(40, 40, 40, .2), 3px 64px 64px -5px rgba(40, 40, 40, .2)
  }

  .page-title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 700;
    color: #333;
    font-size: 3.5rem;
    letter-spacing: -2px
  }

  .about-image-wrapper {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 3rem;
    margin-top: 2rem;
    position: relative
  }

  .about-image {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    z-index: 1
  }

  .about-name {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    letter-spacing: -1px;
    color: #333;
    margin-bottom: 1rem
  }

  .about-bio {
    font-size: 1.6rem;
    color: #485665
  }

  .social a {
    margin-left: 1rem;
    width: 4rem;
    border-radius: 50%;
    height: 4rem;
    background: #433a8b;
    display: flex;
    box-shadow: 3px 2px 3px rgba(67, 58, 139, .29);
    align-items: center;
    justify-content: center;
    background-image: -ms-linear-gradient(to left, #e49db2 18%, #b398a9 100%);
    background-image: -moz-linear-gradient(to left, #e49db2 18%, #b398a9 100%);
    background-image: -o-linear-gradient(to left, #e49db2 18%, #b398a9 100%);
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #f6c0d0), color-stop(100, #d0a5c0));
    background-image: -webkit-linear-gradient(to left, #e49db2 18%, #b398a9 100%);
    background-image: linear-gradient(to left, #e49db2 18%, #b398a9 100%)
  }

  .social a>i {
    color: #fff;
    font-size: 2rem
  }

  .social {
    display: flex;
    justify-content: flex-end;
    margin-top: 4rem
  }

  .flower1 {
    max-width: 500px;
    width: 100%;
    position: relative;
    top: 10rem
  }

  .flower1 img {
    width: 100%;
    box-shadow: 3px 2px 2px -5px rgba(40, 40, 40, .2), 3px 4px 4px -5px rgba(40, 40, 40, .2), 3px 8px 8px -5px rgba(40, 40, 40, .2), 3px 16px 16px -5px rgba(40, 40, 40, .2), 3px 32px 32px -5px rgba(40, 40, 40, .2)
  }

  .flower2 {
    margin: 0 0 0 auto !important
  }

  .portfolio-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    padding: 0 2rem
  }

  @media screen and (max-width:830px) {
    .headerText {
      width: 90%
    }

    .wrapper {
      overflow: hidden
    }

    .headerText1 {
      letter-spacing: -5px;
      line-height: 4rem;
    }

    .pageAbout {
      left: 0
    }
  }

  @media screen and (max-width:450px) {
    .headerText {
      width: 90%
    }

    .flower1 {
      transform: scale(1.2)
    }

    .headerText1 {
      letter-spacing: -5px
    }

    .pageAbout {
      left: 0
    }
  }
</style>

</html>